<section>
    <!--<h1 class="jumbotron">this is jubo</h1>
    <h1>
        {{message | uppercase}}
    </h1>
    <h1>{{22/7 | number : '1.2-2'}}</h1>
    <h1>{{ studentName || "onkar"}}</h1>
-->
    <!--<aurionpro-student></aurionpro-student> -->
    <!-- <blue-ball></blue-ball>  -->
    <!-- <multi-bind></multi-bind> -->
    
    <btn-toggle [valueForTest]="'Hello'" [OnColor]="colorOn"  [OffColor]="colorOff" (stateChange)="statechangeHander($event)"></btn-toggle>

    <btn-rating [rating]="'2.5'"></btn-rating>

</section>