<div>
    <h2>Update student</h2>
</div>

<div class="container">
    <form class="form-horizontal" #myForm="ngForm">

        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="StudentData.name" name="uname"
                    placeholder="Enter Name" required #name="ngModel">
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

                    <div *ngIf="name.errors.required">
                        Name is required.
                    </div>

                </div>
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="rollNo">Roll No:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" [(ngModel)]="StudentData.rollNo" id="rollNo" name="rollNo"
                    placeholder="Enter Roll No" required #rollNo="ngModel">

                <div *ngIf="rollNo.invalid && (rollNo.dirty || rollNo.touched)" class="alert alert-danger">

                    <div *ngIf="rollNo.errors.required">
                        RollNo is required.
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="age">Age:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="age" [(ngModel)]="StudentData.age" name="age"
                    placeholder="Enter age" required #age="ngModel">
                <div *ngIf="age.invalid && (age.dirty || age.touched)" class="alert alert-danger">

                    <div *ngIf="age.errors.required">
                        Age is required.
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" [(ngModel)]="StudentData.email" name="email"
                    placeholder="Enter email" required #email="ngModel">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

                    <div *ngIf="email.errors.required">
                        Email is required.
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="date">Date:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="date" [(ngModel)]="StudentData.date" name="date"
                    placeholder="DD/MM/YYYY" required #date="ngModel">
                <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert alert-danger">

                    <div *ngIf="date.errors.required">
                        Date is required.
                    </div>

                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-2" for="date">Gender:</label>
            <div class="col-sm-10">
                <label>
                    Male<input type="radio" class="form-control" [(ngModel)]="StudentData.isMale" name="Gender" id="Gender"
                        value="true" #Gender="ngModel"></label>
                <label>
                    Female<input type="radio" class="form-control" [(ngModel)]="StudentData.isMale" name="Gender" id="Gender"
                        value="false" #Gender="ngModel">
                </label><br>
                <div *ngIf="Gender.invalid && (Gender.dirty || Gender.touched)" class="alert alert-danger">

                    <div *ngIf="Gender.errors.required">
                        Gender is required.
                    </div>

                </div>
            </div>
        </div>
        <button class="btn" (click)="updateData()" [disabled]="myForm.form.invalid">update Data</button>
    </form>

</div>