<div class="container">
    <div class="welcome-box" style="height: 550px;">
        <div class="welcome-box-inner" >
            <p style="color: white;font-size:32px;font-weight: 300;margin-left: 20px;">Welcome</p>
        </div>
        <div class="welcome-box-image">
            <img src="../logo.jpg" width="300px" height="200px" style="margin:50px 150px 50px 300px">
        </div>
        <div>
            <p>
                <center>Developed by</center>
            </p>
        </div>
        <div>
            <center>
                <p>
                   Onkar Walavalkar
                </p>
                <p>
                        walavalkaronkar@gmail.com
                </p>
            </center>
        </div>
    </div>
</div>>